body {
  font-size: 12px;
  background-color: #BB6BD9;
  color: #219653;
  line-height: normal;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  background-image: url(images/bloc-logo.png);
  width: 100%;
}

.medium-pic {
  background-image: url(images/instagram-pic.jpg);
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
